# Virtual environment
.venv/

# Python bytecode
__pycache__/
*.py[cod]

# Checkpoints & training artifacts
results/
checkpoint/
*.bin
*.log
*.ckpt

# Hugging Face cache (optional)
~/.cache/huggingface/
~/.huggingface/

# System files
.DS_Store
Thumbs.db

# VSCode or JetBrains IDE
.vscode/
.idea/

exported_model/*.safetensors